* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  padding: 30px;
  background-color: #eaeced;
}

/* MEDIA QUERRIES  #eaeced*/

@media screen and (max-width:768px) {

}
